<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Dashboard</title>
</head>
<body>
    <h1 class="dashboard">Dashboard</h1>
    <div class="project-container">
        {% for project in projects %}
        <div class="project">
            <h3>{{ project.name }}</h3>
            <p>Project Manager: {{ project.manager.username }}</p>
            <p><a href="{{ url_for('project_page', project_id=project.id) }}">View Project</a></p>
        </div>
        {% endfor %}
    </div>
</body>
</html>
