<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="header">
        <h1>Dashboard</h1>
        <a href="/logout">Logout</a>
    </div>

    <div class="dashboard-content">
        <h2>Welcome, {{ current_user.username }}! </h2>
            <p>Your dashboard content goes here! </p>
            <p>Don't have a project? Don't worry you can create it <a href="{{ url_for('create_project') }}"> here</a>.</p>
    </div>
</body>
</html>