<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Page</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Project Details</h1>
    <p><strong>Name:</strong> {{ project.name }}</p>
    <p><strong>Description:</strong> {{ project.description }}</p>
    <p><strong>Manager:</strong> {{ project.manager.username }}</p>

    <h2>Tasks:</h2>
    <ul>
        {% for task in tasks %}
            <li><a href="{{ url_for('view_task', task_id=task.id) }}">{{ task.title }}</a> </li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('create_task', project_id=project.id) }}">Create Task</a>
</body>
</html>
