<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
<div class="container">
    <h1>Register</h1>
    <form action="{{ url_for('register') }}" method="POST" onsubmit="return validatePassword()">
        <div class="form-group">
            <lable for="username">Username: </lable>
            <input type="text" id="username" name="username" required>
        </div>

        <div class="form-group">
            <lable for="password">Password: </lable>
            <input type="password" id="password" name="password" required>
        </div>

        <div class="form-group">
            <lable for="confirm_password">Confirm password: </lable>
            <input type="password" id="confirm_password" name="confirm_password" required>
        </div>

        <div class="form-group">
            <label for="role">Role</label>
            <select id="role" name="role">
                <option value="project_member">Project Member</option>
                <option value="admin">Admin</option>
                <option value="project_manager">Project manager</option>
            </select>
        </div>
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
</div>
<script>
    function validatePassword() {
        var password = document.getElementById("password").value;
        var confirm_password = document.getElementById("confirm_password").value;

        if (password !== confirm_password) {
            alert("Passwords do not match");
            return false;
        }
        return true
    }
</script>
</body>
</html>