<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>View Task</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="header">
        <h1>Task Details</h1>
        <a href="{{ url_for('project_page', project_id=task.project_id)}}">Back to project</a>
    </div>

    <div class="task-details">
        <h2>{{ task.title }}</h2>
        <p><strong>Description: </strong> {{ task.description }} </p>
        <p><strong>Deadline: </strong> {{ task.deadline }} </p>
    </div>
</body>
</html>